@import 'tailwindcss';

:root {
  --clay-orange: oklch(0.56 0.1832 36.78);
  --sunlit-gold: oklch(0.67 0.1192 75.16);
  --sage-green: oklch(0.45 0.0292 130.3);
  --river-blue: oklch(0.38 0.1043 259.05);
  --soil-brown: oklch(0.28 0.0115 55.86);
  --cloud-mist: #f3f3f3;
  --dull-color: oklch(0.76 0 0);

  --navbar-height: clamp(3.75rem, 2.6267rem + 4.6083vw, 10rem);
}

@theme {
  --text-st: clamp(1.5rem, 1.3186rem + 0.7383vw, 2.5rem);
  --text-base: clamp(0.875rem, 0.7163rem + 0.6461vw, 1.75rem);
  --text-sm: clamp(0.75rem, 0.6489rem + 0.4147vw, 1.3125rem);

  --text-m: clamp(0.875rem, 0.7065rem + 0.6912vw, 1.8125rem);

  --text-xl: clamp(1rem, 0.8203rem + 0.7373vw, 2rem);
  --text-2xl: clamp(0.875rem, 0.5156rem + 1.4747vw, 2.875rem);
  --text-3xl: clamp(1.75rem, 1.4243rem + 1.3364vw, 3.5625rem);
  --text-4xl: clamp(2.0625rem, 1.4618rem + 2.4458vw, 5.375rem);
  --text-5xl: clamp(2.25rem, 1.5086rem + 3.0415vw, 6.375rem);

  --breakpoint-sxl: 80rem;
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 135rem;
  --breakpoint-5xl: 160rem;
}

@theme inline {
  --color-accent-primary: var(--sunlit-gold);
  --color-highlight: var(--clay-orange);
  /* Backgrounds */
  --color-orange-background: var(--clay-orange);
  --color-blue-background: var(--river-blue);
  --color-mist-background: var(--cloud-mist);

  /* Button */
  --color-button-background-secondary: var(--sunlit-gold);

  /* Menu */
  --color-menu-primary: var(--clay-orange);
  --color-menu-secondary: var(--dull-color);

  /* service card */
  --color-service-background: var(--cloud-mist);
  --color-service-secondary: var(--sunlit-gold);

  /* Fonts */
  --font-roc: var(--font-roc-grotesk);
  --font-hanken: var(--font-hanken-grotesk);
  --font-playfair: var(--font-playfair-display);
}

@layer base {
  html {
    @apply text-[16px] bg-white;
  }
  h1 {
    @apply text-5xl font-roc font-medium leading-[1.2] tracking-[-0.02em];
  }
  h2 {
    @apply text-4xl font-roc font-normal leading-[1.2] tracking-[-0.02em];
  }
  h3 {
    @apply text-3xl font-roc font-normal leading-[1.2] tracking-[-0.02em];
  }
  h4 {
    @apply text-2xl font-roc font-normal leading-[1.2] tracking-[-0.02em];
  }
  h5 {
    @apply text-xl font-roc font-normal leading-[1.2] tracking-[-0.02em];
  }
  p {
    @apply text-base font-hanken font-extralight leading-[1.2];
  }
}

@layer components {
  .cta-text {
    font-size: var(--text-base);
    font-weight: 400;
    font-family: var(--font-hanken);
    line-height: 120%;
    letter-spacing: -0.02em;
  }
  .services-title {
    font-size: var(--text-st);
    font-weight: 400;
    font-family: var(--font-roc);
    line-height: 120%;
    letter-spacing: -0.02em;
  }
}
